/* src/index.css o el archivo principal de tu aplicación */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Opcional: Estilos base de tu body/root para un fondo claro */
body {
  margin: 0;
  min-height: 100vh;
  /* Tailwind: bg-gray-50 */
  background-color: #f9fafb; 
}

#root {
  width: 100%;
  margin: 0 auto;
  text-align: center; /* Quitar esto si usas un layout de Tailwind */
}